* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

/* Reusable */

.flex {
    display: flex;
}
.column {
    flex-direction: column;
}
.row {
    flex-direction: row;
}
:root {
    /*
    --clr_background: #0a0a0a;
    --clr_primary: #171717;
    --clr_secondary: #1c1c1c;
    --clr_accent: #e2da81;
    --clr_light: #ffffff;
    */
    --clr_background: #ffffff;
    --clr_primary:  #e8e8e8;
    --clr_secondary:  #bfbfbf;
    --clr_accent: #5c3082;
    --clr_light: #000000;
    --clr_emergency: #ff0000;
    --txt-margin: 10em;
}

/* Body */

body {
    margin: 0;
    font-family: "Itim";
    background-color: var(--clr_background);
    min-height: 100vh;
}

/* Text */

.nav-button {
    margin: auto 0;
    color: var(--clr_light);
    font-size: 1.5rem;
}
p {
    margin: 0;
    font-size: 1rem;
    color: var(--clr_light);
}
h1 {
    margin: 0;
    font-size: 2rem;
    color: var(--clr_light);
}
h2 {
    margin: 0;
    font-size: 1.5rem;
    color: var(--clr_light);
}
a {
    font-family: inherit;
    text-decoration: none;
    color: var(--clr_light);
}
.nav-button:hover {
    filter: brightness(85%);
    text-decoration: underline solid var(--clr_accent);
}
.emergency-text {
    color: var(--clr_emergency)
}

/* Header */

header {
    position: fixed;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid var(--clr_accent);
    background-color: var(--clr_background);
    z-index: 1;
}
nav {
    justify-content: space-between;
    width: 100%;
    margin: 0 1em;
}
.nav-title {
    gap: 1em;
}
.nav-search-icon {
    align-self: center;
}
.nav-search-input {
    font-size: 1rem;
    margin: auto 0;
    padding: 0.25em;
    border: none;
    font-family: inherit;
    width: 150px;
    border-bottom: 1px solid transparent;
}
.nav-search-input:focus {
    border-bottom: 1px solid var(--clr_accent);
    outline: none;
}
nav ul {
    gap: 1em;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-list-item {
    margin: 0;
}
.nav-menu-button {
    padding: 0.5em;

}
#nav-menu-button {
    display: none;
}
.nav-menu-button {
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--clr_accent);

}
#nav-title {
    margin: auto 0;
}
/* Main */

main {
    flex: 1 1 auto;
}
.intro {
    flex: 1 1 auto;
    margin-top: 50px;
    padding: 0 var(--txt-margin);
    display: flex;
    justify-content: center;
    gap: 2em;
    background-image: url(img/background.jpg);
    background-color: rgba(255,255,255,0.9);
    background-blend-mode:overlay;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.info-links {
    list-style: none;
    margin: 0;
    padding: 1em var(--txt-margin);
    gap: 1em;
    border-top: 2px solid var(--clr_accent);
}
.info-link:hover {
    filter: brightness(85%);
    text-decoration: underline solid var(--clr_accent);
}
.info-links li {
    border-bottom: 0.1px solid var(--clr_accent);
}

/* Footer */

footer {
    background-color: var(--clr_secondary);
    align-items: center;
    padding: 1em;
    gap: 0.5em;
}
.arrow-up {
    font-size: 1.5rem;
    color: var(--clr_accent);
    cursor: pointer;
}

/* Form */

form {
    flex: 1 1 auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.form-input-div {
    background-color: var(--clr_primary);
}
.textarea-input {
    resize: none;
}
.form-input {
    font-family: inherit;
    font-size: 1rem;
    padding: 1em;
    margin: 0;
    color: var(--clr_light);
    background-color: transparent;
    border: none;
    border-bottom: 1px solid transparent;
  }
.form-input:focus {
    outline: none;
    text-decoration: none;
    border-bottom: 1px solid var(--clr_accent);
}
.submit-button {
    font-size: 1rem;
    font-family: inherit;
    margin: 0;
    padding: 1em;
    background-color: var(--clr_accent);
    color: var(--clr_primary);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 100ms ease-in-out;
}
.submit-button:hover {
    transform: scale(1.1);
}

/* Media queries */

@media (max-width: 670px) {
    #nav-menu-button {
        display: list-item;
    }
    .nav-list-item {
        display: none;
    }
    .nav-search-div {
        display: none;
    }
}
@media (max-width: 300px) {
    .frames {
        padding: 0;
    }
}
@media (max-width: 547px) {
    .frame p:not(:last-child) {
        max-height: fit-content;
    }
    .frame {
       height: fit-content;
    }
}
@media (min-width: 548px) {
    .frame p:not(:last-child) {
        max-height: 250px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 12;
        -webkit-box-orient: vertical;
        grid-area: p;
    }
}

/* Gradient */
/*
:root {
    --clr_gradient: linear-gradient(90deg, rgba(218,0,216,1) 0%, rgba(255,111,0,1) 100%);
    --clr_start: rgba(218,0,216,1);
    --clr_end: rgba(255,111,0,1);
}
header {
    border-image: var(--clr_gradient) 1;
}
.nav-menu-button {
    background: var(--clr_gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: var(--clr_gradient) 1;
}
.link-text {
    background: transparent;
    color: var(--clr_light);
    border: 2px solid;
    border-image: var(--clr_gradient) 1;
}
.frame h2 {
    border-image: var(--clr_gradient) 1;
}
.link-text-dark {
    width:fit-content;
    align-self: flex-end;
    background: var(--clr_gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.link-text-dark:hover {
    filter: brightness(100%);
    text-decoration: none;
}
.link-text-dark:hover::before {
    content: "";
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    height: 2px;
    background: var(--clr_gradient);
}
.current-page {
    background: var(--clr_gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@keyframes color-anim {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
.nav-button:hover {
    text-decoration: none;
    filter: brightness(100%)
}
.nav-button:hover::before {
    content: "";
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    height: 2px;
    background: var(--clr_gradient);
}
.arrow-up {
    background: var(--clr_gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: var(--clr_gradient) 1;
}
.nav-search-input:focus {
    border-image: var(--clr_gradient) 1;
}
.form-input:focus {
    border-image: var(--clr_gradient) 1;
}
.submit-button {
    background: transparent;
    color: var(--clr_light);
    border: 2px solid;
    border-image: var(--clr_gradient) 1;
}
.frame h2 {
    overflow: hidden;
    border: none;
    display: flex;
    flex-direction: column;
}
.frame h2::after {
    width: 218px;
    content: "";
    height: 2px;
    background: var(--clr_gradient);
}
*/
/* Animation */


/*
.link-text-dark {
    background-size: 500% auto;
    animation: color-anim 4s linear infinite alternate;
}
.current-page {
    background-size: 500% auto;
    animation: color-anim 4s linear infinite alternate;
}
.frame h2::after {
    animation: color-anim 4s linear infinite alternate;
    background-size: 500% auto;
}
.arrow-up {
    background-size: 500% auto;
    animation: color-anim 4s linear infinite alternate;
}
.nav-button:hover::before {
    background-size: 500% auto;
    animation: color-anim 4s linear infinite alternate;
}
@keyframes border-move-anim {
    0% {
        margin-left: -100%
    }
    100% {
        margin-left: 100%
    }
}
@keyframes color-anim {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
*/
