* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}

/* Reusable */

.flex {
    display: flex;
}
.column {
    flex-direction: column;
}
.row {
    flex-direction: row;
}
:root {
    --clr_background: #ffffff;
    --clr_primary:  #e8e8e8;
    --clr_secondary:  #bfbfbf;
    --clr_accent: #5c3082;
    --clr_light: #000000;
    --clr_emergency: #ff0000;
    --txt-margin: 10em;
}

/* Body */

body {
    margin: 0;
    font-family: "Itim";
    background-color: var(--clr_background);
    min-height: 100vh;
}

/* Text */

.nav-button {
    margin: auto 0;
    color: var(--clr_light);
    font-size: 1.5rem;
}
p {
    font-size: 1rem;
    color: var(--clr_light);
}
h1 {
    font-size: 2rem;
    color: var(--clr_light);
}
h2 {
    font-size: 1.5rem;
    color: var(--clr_light);
}
a {
    font-family: inherit;
    text-decoration: none;
    color: var(--clr_light);
}
.nav-button:hover {
    filter: brightness(85%);
    text-decoration: underline solid var(--clr_accent);
}
.emergency-text {
    color: var(--clr_emergency);
}

/* Header */

header {
    position: fixed;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid var(--clr_accent);
    background-color: var(--clr_background);
    z-index: 1;
}
nav {
    justify-content: space-between;
    width: 100%;
    margin: 0 1em;
    & ul {
        gap: 1em;
        list-style: none;
    }
}
.nav-title {
    gap: 1em;
}
.get-help-link {
    background-color: var(--clr_accent);
    color: var(--clr_background);
    border-radius: 10px;
    padding: 1em;
    font-size: 1rem;
}

.nav-list-item {
    margin: 0;
}
.nav-menu-button {
    padding: 0.5em;

}
#nav-menu-button {
    display: none;
}
.nav-menu-button {
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--clr_accent);

}
#nav-title {
    margin: auto 0;
}
/* Index */

main {
    flex: 1 1 auto;
    padding-top: 50px;
}
.intro {
    flex: 1 1 auto;
    padding: 0 var(--txt-margin);
    justify-content: center;
    gap: 2em;
    background-image: url(img/background.jpg);
    background-color: rgba(255,255,255,0.9);
    background-blend-mode:overlay;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.info-links {
    list-style: none;
    margin: 0;
    padding: 1em var(--txt-margin);
    gap: 1em;
    border-top: 2px solid var(--clr_accent);
}
.info-link:hover {
    filter: brightness(85%);
    text-decoration: underline solid var(--clr_accent);
}
.info-links li {
    border-bottom: 0.1px solid var(--clr_accent);
}
.emergency-link-button {
    background-color: var(--clr_accent);
    border-radius: 10px;
    padding: 1em;
    color: var(--clr_background);
    width: max-content;
}
.emergency-link-button:hover {
    transition: transform 100ms ease-in-out;
    transform: scale(1.1);
}
/* Footer */

footer {
    background-color: var(--clr_secondary);
    align-items: center;
    padding: 1em;
    gap: 0.5em;
}
.arrow-up {
    font-size: 1.5rem;
    color: var(--clr_accent);
    cursor: pointer;
}

/* Information */

#article-first-img {
    background: url(./img/depresjon.jpg)
}
#article-second-img {
    background: url(./img/Selvmordstanker.jpg)
}
#article-third-img {
    background: url(./img/adhd.jpg)
}
#article-fourth-img {
    background: url(./img/Spiseforstyrrelser.jpg)
}
#article-first-img, #article-second-img, #article-third-img, #article-fourth-img {
    height: 10vh;
    width: 100%;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* position: sticky; */
}
.information {
    padding: 0 var(--txt-margin);
    margin-top: 1em;
}
.information h1, .information h2 {
    margin: 0.5em 0;
}
.information h1 {
    border-bottom: 0.1px solid var(--clr_accent);
}

/* Form */

form {
    flex: 1 1 auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.form-input-div {
    background-color: var(--clr_primary);
}
.textarea-input {
    resize: none;
}
.form-input {
    font-family: inherit;
    font-size: 1rem;
    padding: 1em;
    color: var(--clr_light);
    background-color: transparent;
    border: none;
    border-bottom: 1px solid transparent;
  }
.form-input:focus {
    outline: none;
    text-decoration: none;
    border-bottom: 1px solid var(--clr_accent);
}
.submit-button {
    font-size: 1rem;
    font-family: inherit;
    padding: 1em;
    background-color: var(--clr_accent);
    color: var(--clr_primary);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 100ms ease-in-out;
}
.submit-button:hover {
    transform: scale(1.1);
}

/* Media queries */

@media (max-width: 750px) {
    #nav-menu-button {
        display: list-item;
    }
    .nav-list-item {
        display: none;
    }
    #nav-title {
        display: none;
    }
    :root {
        --txt-margin: 5em;
    }
}
@media (max-width: 440px) {
    .intro, .information {
        padding: 0 1em;
    }
    .info-links {
        padding: 1em 1em;
    }
}
